.navBar {
  background-color: #C8A6F9FF;
  height: 70px;
  width: 1188px;
  margin: auto;
  border: #C8A6F9FF 1px solid;
  display: flex;
  justify-content: space-between;
}

.links ul {
margin-left: -65%;
width: 130%;
display: flex;
justify-content: space-between;
}

.OnlineShopUl {
width: 30%;
}

.navBar ul {
  display: flex;
  height: 70px;
  justify-content: space-between;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30px;
  
}


.navBar ul li {
  color: white;
  list-style: none;
  margin-top: -14px;
}

.navBar ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Sacramento', cursive;
}

.div2 {
  background-color: white;
  height: 1500px;
  width: 1188px;
  margin: auto;
  border: white 1px solid;
}

.div2 p {
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 64px;
  padding-top: 40px;
}

.clothes {
  background-image: url(./clothes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 952px;
  margin: auto;
}

.clothes p {
  padding-top: 400px;
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 64px;
  text-align: center;
}

.electronics {
  background-image: url(./electronics.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 952px;
  margin: auto;
}

.electronics p {
  padding-top: 400px;
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 64px;
  text-align: center;
}

.div3 {
  background-color: #C8A6F9FF;
  height: 180px;
  width: 1188px;
  margin: auto;
  border: #C8A6F9FF 1px solid;
  column-width: 33%;
  column-count: 3;
}

.div3 p {
  color: white;
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 25px;
  margin: 0 0 15px 0;
}