
.navBar{
  background-color: #C8A6F9FF;
  height: 58px;
  border: #C8A6F9FF 1px solid;
}
.navBar ul{
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-left: 36px;
  justify-content: space-between;
}
.navBar ul li{
  color: white;
  list-style: none;
}

.navBar ul li a {
  color: white;
  text-decoration: none;
}
